@import "../assets/sass-utils";

/* Sidenav */
mat-sidenav-container {
  background-color: #ffffff;
  color: $dark-gray;
}

.sidenav-toggle {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 1;
  button {
    height: 48px;
    width: 48px;
    &.active {
      background: #dc412e;
      color: #ffffff;
    }
  }
}

mat-sidenav {
  box-shadow: none !important;
  border-right: 2px solid $light-gray;
}

.sidenav-content {
  width: 240px;
  .user-name {
    margin: 125px 30px 30px;
    font-size: 29px;
    @include font-gordita-medium;
  }
  .nav-menu {
    border-top: 2px solid $light-gray;
    .nav-item {
      padding: 0 15px;
    }
    h3 {
      font-size: 13px;
      color: $dark-gray;
      @include font-fakt-pro;
    }
    .mat-list-item {
      height: 60px;
      color: $gray;
      @include font-gordita-regular;
      &.active {
        background: $light-gray;
        color: $dark-gray;
        @include font-gordita-bold;
      }
    }
  }
}

/* Header */
.header {
  border-bottom: 3px solid $light-gray;
  padding: 120px 0 100px;
  h1 {
    margin-bottom: 37px;
    font-size: 44px;
    line-height: 52px;
  }
  h6 {
    margin: 0 ;
  }
}